body{
  background:black;
  color:white;
  text-align:center;
  font-family:sans-serif;
}

canvas{
  background:#111;
  border:2px solid white;
  margin-top:10px;
}

button{
  margin:4px;
  padding:6px 14px;
}
